<div class="login">
  <div class="flex-container">
    <div class="flex-item">
      <img src="../../../assets/images/talos-logo.jpg" alt="talosdigital-logo" class="logo">
    </div>
        <form name="form" ng-submit="!loginCtrl.form.$invalid && loginCtrl.login(loginCtrl.credentials)">
          <div class="flex-item">
            <input type="email" placeholder="Email" ng-model="loginCtrl.credentials.email" required>
          </div>
          <div class="flex-item">
            <input type="password" placeholder="Password" ng-model="loginCtrl.credentials.password"
                   autocomplete="new-password" required>
          </div>
          <div class="flex-item">
            <button class="btn-lg btn-primary">Login</button>
          </div>
        </form>
  </div>
</div>
